{% extends 'base.html' %}
{% load static %} <!-- Добавьте эту строку -->

{% block content %}
    <h1>Call Records</h1>
    <table>
        <thead>
            <tr>
                <th>Channel</th>
                <th>Location</th>
                <th>State</th>
                <th>Calling number</th>
            </tr>
        </thead>
        <tbody id="call-records-table">
            {% for record in call_records %}
            <tr>
                <td data-label="Channel">{{ record.channel }}</td>
                <td data-label="Location">{{ record.location }}</td>
                <td data-label="State">{{ record.state }}</td>
                <td data-label="Calling number">{{ record.calling_number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p id="error-message" style="color: red;"></p>



{% endblock %}
