{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
<h1>Все клиенты</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Is Active</th> <!-- Add this column for is_active -->
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.name }}</td>
            <td>{{ client.contact_info.phone }}</td>  <!-- Accessing phone from ContactInfo -->
            <td>{{ client.contact_info.email }}</td>  <!-- Accessing email from ContactInfo -->
            <td>{{ client.is_active|yesno:"Yes,No" }}</td>  <!-- Display "Yes" or "No" based on is_active -->
            {% if client.image %}
            <td>
                <img src="{{ client.image.url }}" alt="{{ client.name }}" width="50" height="50">
            </td>
            {% else %}
            <td>No image</td>
            {% endif %}
            <td>
                <a href="{% url 'edit_client' client.pk %}">Edit  /</a>
                <a href="{% url 'delete_client' client.pk %}">  Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{% url 'add_client' %}">Add New Client</a>
{% endblock %}
