<!-- random_number.html -->


{% extends 'base.html' %}
{% load static %}  <!-- Добавьте эту строку для использования статических файлов -->

<title>Random Number</title>
{% block content %}

   <h1 id="app"><{{text}}</h1>
       <script>
    var socket = new WebSocket('ws://localhost:8000/ws/random-number/')
    socket.onmessage = function(event){
        var data = JSON.parse(event.data)
        console.log(data)
        document.querySelector('#app').innerText = data.message
    }
</script>

{% endblock %}





